
# C
c/*
!c/*.c

# Crystal
.crystal
crystal/*
!crystal/*.cr

# D
d/*
!d/*.d

# Go
go/*
!go/*.go

# Nim
nim/*
!nim/*.nim

# Pascal
pascal/*
!pascal/*.pas

# Rust
rust/*
!rust/*.rs

# Vala
vala/*
!vala/*.vala
